<?xml version="1.0"?>
<robot name="urg_sensor" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find raspimouse_description)/urdf/sensors/lrf.gazebo.xacro"/>

  <xacro:macro name="lrf_sensor" params="prefix parent lidar_frame *joint_origin">
    <joint name="${prefix}_joint" type="fixed">
      <xacro:insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}"/>
    </joint>

    <link name="${prefix}">
      <visual>
        <geometry>
          <mesh filename="package://raspimouse_description/meshes/dae/sensor/URG_center.dae"/>
        </geometry>
      </visual>
      <collision>
        <!-- <geometry> -->
          <!-- <mesh filename="package://raspimouse_description/meshes/dae/sensor/URG_center.dae"/> -->
        <!-- </geometry> -->
        <origin xyz="0 0 -0.01815" />
        <geometry>
          <cylinder radius="0.025" length="0.070"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.160" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
          iyy="0.0001" iyz="0.0" izz="0.0001" />
      </inertial>
    </link>

    <!-- tf virtual joint/link -->
    <joint name="lidar_frame_joint" type="fixed">
      <parent link="${prefix}" />
      <child link="${lidar_frame}" />
    </joint>
    <link name="${lidar_frame}" />

  </xacro:macro>
</robot>
