<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find raspimouse_description)/urdf/raspimouse.urdf.xacro" />
  <arg name="rvizconfig" default="$(find raspimouse_description)/launch/config/urdf.rviz" />
  <arg name="gui" default="true" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg gui)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg gui)" />

  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(arg rvizconfig)" />
</launch>
