<?xml version="1.0"?>
<launch>
  <!-- arguments -->
  <arg name="model" default="$(find raspimouse_description)/urdf/raspimouse.urdf.xacro" />
  <arg name="rvizconfig" default="$(find raspimouse_description)/launch/config/urdf.rviz" />
  <arg name="use_rviz" default="true" />
  <arg name="gui" default="true" />
  <arg name="urg" default="false" />
  <arg name="lidar_frame" default="laser" />
  <arg name="xacro_option" default="" />
  <arg name="namespace" default="/" />

  <arg name="urg_option" value="lidar:='urg'" if="$(arg urg)" />
  <arg name="urg_option" value="lidar:='none'" unless="$(arg urg)" />

  <!-- raspimouse urdf description -->
  <!-- parameters -->
  <!-- in-order processing (\-\-inorder option) became default in ROS Melodic -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model) $(arg urg_option) lidar_frame:='$(arg lidar_frame)' $(arg xacro_option)" />
  <!-- nodes -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="tf_prefix" value="$(arg namespace)" />
  </node>

  <!-- raspimouse urdf viewer -->
  <group if="$(arg use_rviz)">
    <!-- parameters -->
    <rosparam param="source_list">["joint_states_source"]</rosparam>
    <!-- nodes -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg gui)" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg gui)" />
    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  </group>
</launch>
