<?xml version="1.0"?>
<launch>
    <!-- arguments -->
    <arg name="model" default="$(find raspimouse_description)/urdf/raspimouse.urdf.xacro" />
    <arg name="urg" default="false" />
    <arg name="lidar_frame" default="laser" />
    <arg name="xacro_option" default="" />

    <arg name="urg_option" value="lidar:='urg'" if="$(arg urg)" />
    <arg name="urg_option" value="lidar:='none'" unless="$(arg urg)" />
    <!-- parameters -->
    <!-- in-order processing (\-\-inorder option) became default in ROS Melodic -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg model) $(arg urg_option) lidar_frame:='$(arg lidar_frame)' $(arg xacro_option)" />
    <!-- nodes -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
